.section-news{
    padding: 7.5rem 0 1.5625rem 0;

    .post-list{
        margin-top: 2.25rem;;
    }

    .post-item{
        margin-bottom: 3.5625rem;
    }

    .post-title{
        text-transform: uppercase;
        margin-bottom: 0.3125rem;
    }
    .post-date{
        color: $primary_color;
        margin-bottom: 0.8125rem;
    }
    .post-excerpt{
        margin-bottom: 0;
    }
    .post-link{
        display: inline-block;
        margin-top: 1.2rem;
    }
}