$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-close: "\e909";
$icon-facebook: "\e90a";
$icon-arrow-down: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-up: "\e903";
$icon-cart: "\e904";
$icon-email: "\e905";
$icon-location: "\e906";
$icon-menu: "\e907";
$icon-phone: "\e908";

