$bill-width: 210mm;
$bill-height: 105mm;
$A4-height: 297mm; // A4 page height
$page-margin-top: 0.5cm;
$page-margin-bottom: 0.5cm;
$page-margin-vertical: $page-margin-top + $page-margin-bottom;

* {
  font-family: Arial, sans-serif;
}

main {
  height: $A4-height - $page-margin-vertical;

  div#pdf-head {
    img.logo {
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
    }

    #header-pad {
      height: 140px;
    }
  }

  p {
    span.small {
      font-size: 10pt;
      color: #808080;
      text-decoration: underline;
    }

    &.right {
      text-align: right;
    }
  }

  #payment {
    display: flex;
    flex-direction: column;
  }

  #payment {
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 12pt;

      th,
      td {
        border: 1px solid black;
        padding: 5px;
      }
    }
  }
}

.page-break {
  page-break-before: always;
  height: $A4-height - $page-margin-vertical;
  box-sizing: border-box;

  img#invoice {
    display: block !important;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: $A4-height - $page-margin-vertical - $bill-height;
    padding-bottom: 3mm;

    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! DO NOT TOUCH !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    // size according to Swiss Implementation Guidelines QR-bill from November 20, 2023
    width: $bill-width !important;
    height: $bill-height !important;
    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! you can touch once again !!!!!!!!!!!!!!!!!!!!!!
  }
}
