body.content main {

  section {
    +section {
      padding-top: 0;
    }
  }

  .container {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // flex-wrap: nowrap;

    .assigned-image {
      width: 100%;
      padding-bottom: 100%;
      margin-bottom: 30px;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      border-radius: $border_radius;
    }

    article {
      table {
        tbody {
          tr {
            vertical-align: top;
          }
        }
      }
    }
  }
}