$text-opacity-border-radius: 5px;

div.flex-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 65px;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }

  a.flex-grid-tile {
    display: flex;
    height: 250px;
    width: 20vw;
    // padding: 15px;
    margin: 10px 0;

    @media (max-width: $breakpoint-mobile) {
      width: 90vw;
    }

    &:hover {
      cursor: pointer !important;
    }

    figure {
      width: 100%;

      div.flex-grid-tile-picture {
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        h2.flex-grid-tile-title {
          text-align: center;
          border-radius: $text-opacity-border-radius $text-opacity-border-radius 0 0;
          color: #fff;
          background-color: #0000002b;
          margin-bottom: 0;
          font-size: 1.1875rem;
        }

        div.flex-grid-tile-summary {
          border-radius: 0 0 $text-opacity-border-radius $text-opacity-border-radius;
          text-align: center;
          color: #fff;
          background-color: #0000002b;
          min-height: 10px;
          max-height: 15vh;
          padding: 0 10px !important;

          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// grid and gallery
.row-grid-cards,
.row-gallery-cards {
  .card {
    background: $background_color_6;
    border: $border;
    border-radius: $border-radius;
    margin-bottom: 30px;
    // cursor: pointer;
    display: flex;
    flex-direction: column;

    @include zoom_card_effect();

    .card-img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;

      width: 100%;
    }
  }
}

// grid
.row-grid-cards {

  .card {

    .card-img {
      padding-bottom: 75%;
    }

    .card-body {
      // padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;

      p {
        margin: 0;
        padding: 0;
      }

      .card-title {
        font-weight: 600;
      }

      .card-text {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .card-link {
          display: flex;
          flex-direction: row;
          align-items: end;
        }
      }
    }
  }
}

// gallery
.row-gallery-cards {
  .card {
    .card-img {
      padding-bottom: 100%;
      border-radius: $border-radius;
    }
  }
}

.grid-container {
  /* credits: https://codepen.io/mherchel/pen/xxXXbog */
  --grid-layout-gap: 10px;
  --grid-column-count: 8; /* This gets overridden by an inline style. */
  --grid-item--min-width: 200px; /* This gets overridden by an inline style. */
  
  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
}
