.login-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  > div {
    display: inherit;
    flex-direction: column;
    width: 40%;

    form {
      display: inherit;
      flex-direction: column;
      height: 100%;

      button {
        margin-top: auto;
        align-self: flex-end;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column; 
    & > div {
      width: 100%;
    }
  }
}
