@import 'variables';
@import 'mixins';

body.shop main{
    padding-bottom: 5.625rem;
}

.breadcrumb{
  @media (max-width: $breakpoint-tablet) {
    flex-direction: row !important; 
    justify-content: space-between;
  }
}

.product{
    border-radius: $border-radius;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    &-image{
        background-color: $background_color_7;
        padding: 0 $shop-page-padding-horizontal 0;
        min-height: 270px;
    }

    &-info{
        padding: $shop-page-padding-vertical $shop-page-padding-horizontal 0;
    }

    &-name{
        margin-bottom: 5px;
        a{
            color: $gray_color_dark;
            &:hover,
            &:focus{
                color: $primary_color;
                text-decoration: none;
            }
        }
    }

    &-size{
        color: $primary_color;
        margin-bottom: ($shop-margin-medium + 2px);
    }

    &-description{
        color: $gray_color_dark;
        margin-bottom: ($shop-margin-medium - 1px);
    }

    &-price{
        color: $primary_color;
        font-weight: bold;
        margin-bottom: 0;
    }

    &-action{
        padding: $shop-page-padding-vertical $shop-page-padding-horizontal;
        border-top: 1px solid $background_color_7;
        flex-grow: 0;
        flex-shrink: 0;
        .input-group{
            margin-bottom: 0!important;
            margin-right: $shop-margin-medium;
            .form-control{
                flex-grow: 0;
                text-align: center;
                width: 20px;
                border-left: 0;
                border-right: 0;
                // height: calc(1.5em + 0.75rem + 0px);
                padding: 0;
            }

            .input-group-prepend{
                button{
                    border-right: 0;
                }
            }

            .input-group-append{
                button{
                    border-left: 0;
                }
            }

            .input-group-prepend button,
            .input-group-append button{
                &:hover,
                &:focus,
                &:active{
                    background-color: transparent;
                    color: $primary_color;
                }
            }

            .form-control,
            .input-group-prepend button,
            .input-group-append button{
                border-color: $border_color;
                &:focus,
                &:active,
                &:focus:active{
                    box-shadow: none;
                    outline: none;
                    border-color: $border_color;
                }
            }
        }
    }
}

.product-list{
    >.row{
        margin-left: -$shop-margin-small;
        margin-right: -$shop-margin-small;
    }
    [class*="col-"]{
        padding-left: $shop-margin-small;
        padding-right: $shop-margin-small;
        margin-bottom: 35px;
    }
}

.pagination{
  margin-top: 2.1875rem;
  margin-bottom: 0;
}

.filters {
  display: flex;
  flex-direction: column;
  margin-bottom: $breadcrumb-margin-bottom;

  #search-input {
    border-radius: $shop-border-radius;
    margin: 0 0 calc($shop-margin-small / 2) !important;
  }

  > div {
    display: inherit;
    flex-direction: row;
    @media screen and (width <= map-get($grid-breakpoints, md)) {flex-direction: column;}
    width: 100%;

    > div {
      display: inherit;
      flex-direction: inherit;
      width: 75%;
      @media screen and (width <= map-get($grid-breakpoints, md)) {width: 100%;}

      .sort-filter {
        width: 50%;
        @media screen and (width <= map-get($grid-breakpoints, md)) {width: inherit;}

        select {
          width: 100%;
          height: 100%;
          min-width: 200px;
          padding: 0.375rem 0.75rem;
          border: 1px solid $border_color;
          background-color: white;
          color: $gray_color_dark;
          @media screen and (width <= map-get($grid-breakpoints, md)) {margin: 0 0 calc($shop-margin-small / 2) !important;}

          &:focus {
            border-color: $primary_color;
            outline: none;
          }
        }

        @media screen and (width >= map-get($grid-breakpoints, md)) {
          &:first-of-type select {
            border-radius: $shop-border-radius 0 0 $shop-border-radius;
        }}
      }
    }

    button {
      width: 25%;
      margin: 0 !important;
      border-radius: 0 $shop-border-radius $shop-border-radius 0;
      border-right: none;
      padding: 0.375rem 0.75rem;

      @media screen and (width <= map-get($grid-breakpoints, md)) {
        width: inherit;
        border-radius: $shop-border-radius;
        margin: calc($shop-margin-small / 2) 0 0 !important;
      }
    }
  }
}
