@import 'variables';

.product-list {
  justify-items: stretch;
  align-content: space-evenly;
  justify-content: space-evenly;
  gap: 10px;

  .product {
    background-color: $background_color_5;
    padding-top: 1.25rem;

    .product-image {
      background-color: $background_color_5;
    }

    .product-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .product-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0, $product-action-padding;
      border-top: none;
      border-radius: 0;

      input:first-child {
        border-radius: $shop-border-radius 0 0 $shop-border-radius;
        width: unset;
      }

      button {
        transition: background-color 0.3s ease, color 0.3s ease;

        &:last-child.article-to-cart {
          border-radius: 0 $shop-border-radius $shop-border-radius 0;
          padding: 0;
        }

        &:hover {
          cursor: pointer;
          background-color: $primary_color;
          color: white;
        }
      }
    }
  }
}

.form-box {
  margin-bottom: $shop-margin-medium;

  label:not(:first-child) {
    margin-top: $shop-margin-medium;
  }

  input {
    &:invalid {
      border: 1px solid red;
    }
  }

  .form-row-2 {
    display: flex;
    flex-wrap: wrap;
    margin: $shop-margin-medium 0 0 0;

    &> {
      * {
        width: 50%;
      }

      input[type="checkbox"] {
        width: 10%;
      }
    }

    div {
      border-radius: 0;

      &:first-child {
        input {
          border-radius: $shop-border-radius 0 0 $shop-border-radius;
          border-right: none;
        }
      }

      &:last-child {
        input {
          border-radius: 0 $shop-border-radius $shop-border-radius 0;
        }
      }
    }
  }

  .table-responsive {
    margin-bottom: $shop-margin-medium;
  }
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: $background_color_3;
  border-color: $background_color_3;
}

a:hover {
  color: $background_color_3;
}

div.breadcrumb {
  padding: 10px 0;

  background-color: unset;
}

.spread {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@import 'login';
