.service{
    background-color: #fff;
    border-bottom: 9px solid $primary_color;
    border-radius: $border_radius;
    color: $gray_color;
    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 50px 30px 30px;
    
    &:hover{
        color: $gray_color;
    }

    @include zoom_card_effect();
}

.service-image{
    img{
        height: 66px;
    }
}

.service-title{
    color: $primary_color;
    margin-top: 25px;
}

.service-description{
    margin-bottom: 0;
    // margin-top: 4px;
}

