.header {
    $header-padding: 4.0625rem;

    background-color: $background_color_6;
    z-index: -2;

    min-height: 500px;
    padding: $header-padding 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #fff;

    position: relative;

    .header-background-image {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        max-width: 1400px;
        height: 100%;
        // center
        transform: translateX(-50%);

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    .container {
        >* {
            max-width: 400px;
        }

        @include media-breakpoint-up(sm) {
            margin-top: 30px;
        }

        @include media-breakpoint-up(lg) {
            padding-left: 168px;
            margin-top: 70px;
        }
    }

    .header-heading {
        font-weight: 400;
        color: #fff;
        text-shadow: $text_shadow;
    }

    .heading-line {
        &::after {
            background-color: #fff;
        }
    }

    .header-description {
        text-shadow: $text_shadow;
        margin-bottom: 0;
    }

    .container-credits {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 15px;
        margin: 0;

        >* {
            max-width: 100%;
        }

        >.credits {
            text-align: right;
            text-shadow: $text_shadow;

        }
    }
}

.header-sub {
    min-height: auto;
}