// =============================================================
// Define Variables (Colors, Fonts, etc.)
// =============================================================
$primary_color: #237db8;
$gray_color: #8c8c8c;
$gray_color_dark: #51463d;
$menu_color: #675e58;
$border_color: #ebebeb;
$dropdown_color: #4f5864;
$background_color_1: #cddeee;
$background_color_2: #cecece;
$background_color_3: #195a84;
$background_color_4: #dbcdc1;
$background_color_5: #efe9e5;
$background_color_6: #f5f0ee;
$background_color_7: #f7f9fc;
$font_heading: "Poppins", "Helvetica Neue", sans-serif;
$font_body: "Poppins", "Helvetica Neue", sans-serif;

$text_shadow: 1px 1px 4px rgba(0, 0, 0, 1);
$border: 1px solid $border_color;
$border_radius: 0.25rem;

#shop-modul-object {
  padding-bottom: 20px;

  @import 'partials/fonts';
  @import 'partials/variables';
  @import 'partials/mixins';
  @import 'partials/bootstrap';
  @import 'partials/plugins';
  @import 'partials/components';
  @import 'partials/common';
  @import 'partials/partials';
  @import 'partials/sections';
  @import 'partials/home_page';
  @import 'partials/shop_page';
  @import 'partials/checkout_page';
  @import 'partials/content_page';
  @import 'partials/grid';
  @import 'partials/popup';
  @import 'partials/shop_addons'; // custom styles added ontop of vietnam
  @import 'partials/cart';
}

article.product {
  // overflow: hidden;

  @import 'partials/variables';
  @import 'partials/mixins';
  @import 'partials/bootstrap/buttons';
  @import 'partials/plugins';
  @import 'partials/components';
  @import 'partials/common';
  @import 'partials/partials';
  @import 'partials/product';
  @import 'partials/shop_addons'; // custom styles added ontop of vietnam
}

.main-wrapper > h2:nth-child(1) {
  display: none;
}
