.top-nav {
    transition: all 0.4s ease-in-out;

    .container {
        @include media-breakpoint-up(sm) {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }

    .navbar-brand {
        transition: all 0.4s ease-in-out;
        height: 80px;

        .logo-default {
            display: none;
            height: 100%;
            transition: all 0.4s ease-in-out;
        }

        .logo-white {
            display: block;
            height: 100%;
            transition: all 0.4s ease-in-out;
            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5))
        }
    }

    .navbar-nav {
        .nav-link {
            color: #fff;
            text-shadow: $text_shadow;
            padding: 0.5rem 1rem;

            &:hover,
            &:focus {
                color: $primary_color;
            }
        }
    }

    .navbar-icons {
        margin-right: -15px;

        a {
            color: #fff;
            text-shadow: $text_shadow;

            &:hover,
            &:focus {
                color: $primary_color;
            }
        }

        .mini-cart {
            position: relative;

            .num {
                position: absolute;
                top: 3px;
                right: 3px;
                color: $primary_color;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.9375rem;
                font-weight: 700;
            }
        }

        .icon-cart {
            font-size: 37px;
        }

        .icon-menu {
            font-size: 52px;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 0.3125rem 1rem;

        .navbar-brand {
            height: 60px;
        }
    }

    &.bg-light {
        box-shadow: 0 2px 10px 0 rgba(144, 144, 144, 0.2);
        padding: 0.3125rem 1rem;

        .navbar-brand {
            height: 60px;

            .logo-default {
                display: block;
            }

            .logo-white {
                display: none;
            }
        }

        .navbar-nav,
        .navbar-icons {

            .nav-link,
            a {
                color: $menu_color;
                text-shadow: none;
            }
        }
    }
}

#offcanvas-menu {
    // display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    .nav-bg {
        background-color: rgba(#000000, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }

    .nav-wrap {
        background-color: #fff;
        width: 270px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.4s ease-in-out;
        padding: 60px 15px;
        border-left: 9px solid $primary_color;
        border-radius: 5px 0 0 5px;
        transform: translateX(100%);
        overflow-y: auto;

        @include media-breakpoint-up(md) {
            width: 350px;
            padding: 60px 30px;
        }

        .toogle-close {
            position: absolute;
            top: 20px;
            right: 20px;

            i {
                font-size: 30px;
            }
        }

        hr {
            border-top: 1px solid $primary_color;
        }

        a {
            color: $gray_color_dark;
            text-decoration: none;
            padding-left: 0;
            padding-right: 0;

            &:hover,
            &:focus {
                color: $primary_color;
            }
        }
    }
}

body.open-offcanvas {

    // overflow: hidden;
    #offcanvas-menu {
        pointer-events: auto;

        .nav-bg {
            opacity: 1;
        }

        .nav-wrap {
            transform: translateX(0);
        }
    }
}