html {
    // overflow-x: hidden;
}

.heading-line {
    position: relative;

    // h2
    padding-bottom: 1.375rem;
    margin-bottom: 1.5rem;

    &:after {
        content: '';
        position: absolute;
        width: 35px;
        height: 3px;
        background-color: $primary_color;
        left: 0;
        bottom: 0;
    }
}

h3.heading-line {
    padding-bottom: 1.0625rem;
    margin-bottom: 1.375rem;
}

.text-center {
    .heading-line {
        &:after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.text-small {
    font-size: $font-size-sm;
    line-height: 1.7142857143;
}

.dark-text {
    color: $gray_color_dark;
}

.mt-15 {
    margin-top: 15px;
}

.box-shadow-light {
    box-shadow: 0px 0px 6px 0.65px rgba(20, 20, 23, 0.06);
}

.bg-color-1 {
    background-color: $background_color_1;
}

.bg-color-2 {
    background-color: $background_color_2;
}

.bg-color-3 {
    background-color: $background_color_3;
}

.bg-color-4 {
    background-color: $background_color_4;
}

.bg-color-5 {
    background-color: $background_color_5;
}

.bg-color-6 {
    background-color: $background_color_6;
}

.bg-color-7 {
    background-color: $background_color_7;
}

.text-center-md-down {
    @include media-breakpoint-down(sm) {
        text-align: center;

        .heading-line {
            &:after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.fs-1-5 {
    font-size: 1.5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.breadcrumbs-container {
    max-height: 50px;
}

.section-breadcrumbs,
.breadcrumb {
    background-color: $background_color_5;
}

#crumblist {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}