@import "./bootstrap/mixins";

// -------------------------
// Zoom effect
// is_filter: true => add filter: drop-shadow to the card
// -------------------------
@mixin zoom_card_effect($is_filter: false) {
    $box_shadow: 0px 0px 12.35px 0.65px rgba(20, 20, 23, 0.06);
    $drop_shadow: drop-shadow(0px 0px 12.35px rgba(20, 20, 23, 0.2));
    

    transition: all 0.3s ease-in-out;
    transform: scale(1);
    @if $is_filter {
        filter: drop-shadow(0 0 rgba(0, 0, 0, 0));
    } @else {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    &:hover {
        transform: scale(1.04);
        @if $is_filter {
            filter: $drop_shadow;
        } @else {
            box-shadow: $box_shadow;
        }
    }
}
