.section {
    padding: 65px 0;

    // @include media-breakpoint-up(lg){
    //     padding: 65px 0;
    // }
}

.section-heading {
    font-weight: 400;
    color: $primary_color;
}

.section-0 {
    padding-top: 0;
    padding-bottom: 0;
}

// @import './sections/section_quality';
// @import './sections/section_news';
// @import './sections/section_our_references';
// @import './sections/section_catalog';
// @import './sections/section_our_services';
// @import './sections/section_shop';