@import 'variables';

.product-list {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: stretch;
  align-content: space-evenly;
  justify-content: space-evenly;
  gap: 10px;

  @media (max-width: 1200px) {
    grid-template-columns: auto auto;
  }

  @media (max-width: 991px) {
    grid-template-columns: auto;
  }

  .product {
    background-color: $background_color_5;
    padding-top: 1.25rem;

    .product-image {
      background-color: $background_color_5;
    }

    .product-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .product-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      border-top: none;
      border-radius: 0;

      input:first-child {
        border-radius: 0.25rem 0 0 0.25rem;
        width: unset;
      }

      button {
        transition: background-color 0.3s ease, color 0.3s ease;

        &:last-child {
          border-radius: 0 0.25rem 0.25rem 0;
        }

        &:hover {
          cursor: pointer;
          background-color: $primary_color;
          color: white;
        }
      }
    }
  }
}

.form-box {
  margin-bottom: 15px;

  label:not(:first-child) {
    margin-top: 15px;
  }

  input {
    &:invalid {
      border: 1px solid red;
    }
  }

  .form-row-2 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 0 0;

    &> {
      * {
        width: 50%;
      }

      input[type="checkbox"] {
        width: 10%;
      }
    }

    div {
      border-radius: 0;

      &:first-child {
        input {
          border-radius: 0.25rem 0 0 0.25rem;
          border-right: none;
        }
      }

      &:last-child {
        input {
          border-radius: 0 0.25rem 0.25rem 0;
        }
      }
    }
  }

  .table-responsive {
    margin-bottom: 15px;
  }
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: $background_color_3;
  border-color: $background_color_3;
}

a:hover {
  color: $background_color_3;
}

div.breadcrumb {
  padding: 10px 0;

  // !!!!!!!!!!!!!! TEMP BIS FILTER UND SORET BACK !!!!!!!!!!!!!!
  background-color: unset;
  // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}

.spread {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@import 'login';
