@import "bootstrap/scss/functions";
// =============================================================
// Custom Variables Bootstrap
// =============================================================

// Colors
$primary: $primary_color;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1210px
);

// Spacing
$spacer: 1rem;
$spacers: (
);
$spacers: map-merge((0: 0,
      1: ($spacer * 0.625), // 10px
      2: ($spacer * 1.25), // 20px
      3: ($spacer * 1.875), // 30px
      4: ($spacer * 2.5), // 40px
      5: ($spacer * 4.375) // 70px
    ),
    $spacers);

// Body
$body-color: $gray_color;

// Components
$line-height-lg: 1.5;
$border-width: 1px;

// Body
$body-color: $gray_color;

// Links
$link-color: $primary_color;
$link-hover-color: $gray_color_dark; //darken($link-color, 15%);
$link-hover-decoration: none;

// Typography
$font-family-sans-serif: $font_heading;
$font-family-monospace: $font_heading;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.125rem; // ~18px
$font-size-sm: 0.875rem; // ~14px

$h1-font-size: 2.5rem; // ~40px
$h2-font-size: 2.1875rem; // ~35px
$h3-font-size: 1.25rem; // ~20px
$h4-font-size: 1rem; // ~16px
$h5-font-size: 0.875rem; // ~14px
$h6-font-size: 0.75rem; // ~12px

$headings-margin-bottom: $spacer * .35;
$headings-font-weight: 600; // SemiBold
$headings-line-height: 1.2;
$headings-color: $gray_color_dark;

// Navbar
$navbar-padding-y: 20px;
$navbar-padding-x: 1rem;

// Pagination

$pagination-padding-y: 6px;
$pagination-padding-x: 12px;
$pagination-color: $gray_color;
$pagination-border-color: $border_color;
$pagination-hover-color: #fff;
$pagination-hover-bg: $primary_color;
$pagination-hover-border-color: $primary_color;
$pagination-disabled-bg: $border_color;

// Breadcrumbs
$breadcrumb-bg: $background_color_7;
$breadcrumb-margin-bottom: 1.875rem;
$breadcrumb-color: $gray_color;
$breadcrumb-active-color: $primary_color;
$breadcrumb-hover-color: $primary_color;
$breadcrumb-font-size: $font-size-sm;

// Dropdowns
$dropdown-min-width: 12.5rem;
$dropdown-item-padding-y: .6rem;
$dropdown-item-padding-x: 1.1rem;
$dropdown-font-size: $font-size-sm;
$dropdown-link-color: $dropdown_color;
$dropdown-bg: $background_color_7;
$dropdown-border-width: 0;
$dropdown-link-active-bg: $background_color_7;
$dropdown-link-active-color: $primary_color;
$dropdown-link-hover-color: $primary_color;
$dropdown-link-hover-bg: $background_color_7;

// Tables

$table-head-color: $gray_color_dark;

// Buttons & Form
$input-btn-padding-y-lg: .5rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-font-size-lg: $font-size-lg;
$input-btn-line-height-lg: $line-height-lg;
$input-btn-border-width: $border-width;

// Buttons
// $btn-padding-y:                          10px;
// $btn-padding-x:                          35px;
// $btn-border-radius:                      25px;
$btn-padding-x-sm: 0.5rem;
$btn-padding-y-sm: 0.375rem;
$btn-sm-min-width: 7.375rem;

// Forms
$form-group-margin-bottom: 14px;
$input-placeholder-color: $menu_color;

$input-border-width: $input-btn-border-width;

$input-padding-y-lg: 0.6875rem;
$input-padding-x-lg: $input-btn-padding-x-lg;
$input-font-size-lg: $input-btn-font-size-lg;
$input-line-height-lg: $input-btn-line-height-lg;

$input-color: $menu_color;
$input-border-color: $border_color;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-height-border: $input-border-width * 2;

// $input-padding-y-lg:                   12px;
// $input-padding-x-lg:                   14px;
$input-font-size-lg: $font-size-sm;

$input-height-lg: add($input-line-height-lg * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;

// $custom-control-indicator-border-width:     1px;
$custom-control-indicator-border-color: $border_color;
$custom-control-indicator-size: 1.5625rem;
$custom-checkbox-indicator-border-radius: 0;
$custom-control-label-color: $menu_color;

// Breabcrumbs
$breadcrumb-item-padding: 1rem;

// device breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-large: 1201px;

@import "bootstrap/scss/variables";