.section-quality {
    position: relative;
    padding: 2.3125rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $background_color_6;
    overflow: hidden;

    @include media-breakpoint-up(md){
        &::after{
            position: absolute;
            content: url('../images/home/bg_pattern.svg');
            right: 0;
            bottom: -40px;
            width: 260px;
            height: 350px;
            z-index: 0;
        }
    }
    
    .container{
        position: relative;
        z-index: 2;
    }

    .section-content {
        // margin-top: 1.375rem;

        p {
            margin-bottom: 0;
        }
    }
}
